/* Adicionar aqui toda a estilização criada para sua aplicação. */
body{
    margin: 0;
    background-color: black;
}

/* HEADER */
.header{
    background-color: black;
    width: 100%;
}
.container-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

/* IMAGEM AQUATECH */
.titulo{
    display: flex;
    justify-content: center;
    width: 280px;
    height: auto;
    margin-top: 13px;
}

.titulo img{
    display: block;
}
/* BARRA DE NAVEGAÇÃO */
.navbar{
    display: flex;
    justify-content: flex-start;
    list-style: none;
    padding-right: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 0;
}
.navbar li{
    margin-right: 60px;
}

/* LINKS NAVBAR*/
.navbar a{
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    transition: 0.3s;
}
.navbar a:hover {
  color: #31487A;
}

/* TELA INICIAL */
.banner{
    background-color: black;
    display: flex;          
    align-items: center;    
    gap: 40px;              
    margin-left: 40px;
}
.banner-container{
    border: solid 2px rgb(255, 255, 255);
    border-radius: 50px;
    height: 300px;
    margin: 30px;
    width: 600px;
    gap: 30px;
}
.banner-container p{
    display: flex;
    color: white;
    justify-content: center;
    margin-top: 119px;
    font-size: 27px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
.banner-container span{
    margin: 0px 5px;
    color: #2d5bc0;
}
.video {
    width: 500px;
    height: 300px;
    border-radius: 30px;
    object-fit: cover;
}

/* SOCIAL */
.social{
    display: flex;          
    align-items: center;    
    gap: 40px;              
    margin-left: 40px;
}
.box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 80px;
    gap: 50px;
}
.box-reverse {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 80px;
    flex-direction: row-reverse;
    gap: 50px;
}
.box-reverse img{
    width: 500px;  
    height: auto;
    border-radius: 50px;
}
.box img{
    width: 800px;  
    height: auto;
    border-radius: 50px;
}
.box-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    max-width: 500px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.box-text h4{
    text-align: center;
    font-size: 40px; 
    margin-bottom: 15px;
    color: #2d5bc0;
}
.box-text p{
    font-size: 20px;
    line-height: 1.6;
    text-align: justify;
}
.box-text li{
    text-align: justify;
    font-size: 20px;
    line-height: 1.6;
}
.box-text span{
    font-weight: 800;
}